In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('2010-capitalbikeshare-tripdata.csv')

In [5]:
df.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209,1st & N St SE,31209,1st & N St SE,W00032,Member
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member
3,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member
4,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member

In [6]:
df['Bike number'].value_counts()

W01091                   271
W01084                   261
W00556                   253
W00637                   243
W00621                   238
W00570                   232
W00856                   228
W00277                   225
W00827                   225
W00194                   225
W00903                   225
W00446                   225
W00948                   224
W00786                   223
W01068                   222
W00612                   221
W01001                   221
W00707                   221
W00428                   220
W00804                   218
W00377                   218
W00973                   218
W00961                   217
W00928                   217
W00318                   215
W00289                   214
W01071                   214
W00975                   213
W00615                   213
W00789                   212
                        ...
W01042                    15
?(0x000000000D11CC6B)     15
W00934                    14
W00587                    13
W00405                    12
W00096                    12
?(0x000000001A4D699F)     10
W00347                    10
W00868                     9
W00112                     9
W01110                     9
?(0xFFFFFFFFFAF0B948)      8
W00075                     6
W00367                     5
W00828                     4
W00972                     4
?(0x000000000CB3A1A6)      3
W00442                     3
W00210                     2
W01038                     2
W00293                     2
W00985                     1
?(0xFFFFFFFFFBAC9E2A)      1
W00659                     1
W00537                     1
W00372                     1
W01103                     1
W00965                     1
W00882                     1
W00016                     1
Name: Bike number, Length: 959, dtype: int64

In [1]:
import sklearn

In [7]:
df.columns

Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')

In [17]:
x = df[['Duration','Start station number','End station number']]
y = df['Member type']

In [18]:
df['Member type'].value_counts()

2    91586
1    24001
0       10
Name: Member type, dtype: int64

In [13]:
df = df.replace('Member',2)
df = df.replace('Casual',1)
df = df.replace('Unknown',0)

GradientBoost Classifier

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [21]:
from sklearn.ensemble import GradientBoostingClassifier
model = GradientBoostingClassifier()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.8646193771626297

Random Forest Classifier

In [22]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier()
forest.fit(x_train,y_train)
forest.score(x_test,y_test)

C:\Users\Ankur\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.8398356401384083

Decision Tree Classifier

In [ ]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier()
tree.fit(x_train,y_train)
tree.score()